a-bar { display: block; width: 100%; border: 1px solid gray; margin-bottom: 20px; font-family: 'Segoe UI' }

a {
    display: inline-block;
    width: 60px;
    height: 30px;
    border: 1px solid gray;
    margin: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: gray;
    background-color: lightgray;
}

.active { background-color: red; color: white; }
.special { background-color: green; color: white; }